<h2 class="titulo">Criação de uma nova nota de texto</h2>
<form method='POST' action='/nota/cria' class="row">
    <div class="col-md-6 col-lg-2">
        <label for="chave" class="form-label">Chave</label>
        <input type='text' name='chave' value="" size="30" class="form-control"/>
    </div>
    <div class="col-md-6 col-lg-2">
        <label for="importancia" class="form-label">Importância</label>
        <input type='number' name='importancia' value="" max="5" min="1" class="form-control"/>
    </div>
    <div class="col-md-12 col-lg-8">
        <label for="titulo" class="form-label">Título</label>
        <input type='text' name='titulo' value="" size="60" class="form-control"/>
    </div>
    <div class="col-sm-12">
        <label for="texto" class="form-label">Texto da Nota</label>
        <textarea rows="5" cols="57" name='texto' class="form-control"></textarea>
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Criar</button>
        <a href="/"><button type="button" class="btn btn-secondary">Cancelar</button></a>
    </div>
</form>
