
<h2 class="titulo">Sobre o Aplicativo</h2>
<h4>Este é um aplicativo criado com o objetivo de gerenciar notas de texto.</h4>
<p>Ele foi criado na disciplina de Desenvovlvimento Web II do curso de Graduação em Sistemas de Informação</p>
<p>IF Sudeste MG - Campus Manhuaçu</p>
<br><br>
<a href="/">Voltar</a>
